body {
  background-color: blue;
  text-align: center;

}
header{
  background-color: grey;
  text-align: center;
  height: 200px;

  flex: auto;
  
}
h1 {
  background-color: darkgreen;
  
}

h3 {
  font-size: xx-large;
  background-color: fuchsia;
}

p{
  display: inline-block;
  margin: 20px;
  font-size: 25px;
}
.searchbar{
  background-color: darkred;
  width: 300px;
  height: 75px;
  margin: 0 auto;

}

#name-selector {
  margin-top:20px;
  size;
}

#search {

}

.monsterData{
  background-color: darkorange;
  width: 90%;
  margin: 0 5%;
  
}

#description {
  width: 400px;
  height: 400px;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  background-color: cornsilk;
  border: 4px solid black;
}

#location {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  border: 4px solid black;
  background-color: cornsilk;
}

#ailments {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  border: 4px solid black;
  background-color: cornsilk;
}

#elements {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  border: 4px solid black;
  background-color: cornsilk;
}

#weakness {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  border: 4px solid black;
  background-color: cornsilk;
}

#resistance {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  border: 4px solid black;
  background-color: cornsilk;
}
